body {
    overflow-x: hidden;

}
.common-button a{
    background: #F40404;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", serif;
    padding: 13px 40px;
    border: 1px solid transparent;
}
.common-button a:hover{
    background: transparent;
    border: 1px solid #F40404;
    cursor: pointer;
    transition-duration: 0.5s;
    
}
.box{
    display: flex;
}
.header{
    background: #282828;
    padding-top: 16px;
    padding-bottom: 13px;
}

.header p{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    font-family: "Poppins", serif;
}

.header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    column-gap: 12px;
    justify-content: flex-end;
}
.header ul li{
    color: #FFFFFF;
}
/* navber part start */
.navbar{
    background: #F40404;
    padding: 27px 0;
}
.navbar .nav-item a{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", serif;
}
.navbar .nav-button a{
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 13px 32px;
}
.navbar .navbar-nav{
    column-gap: 47px;
}
/* navber part end */
/* industryr part start */

.banner{
    
    background-image: url('../images/industry.png'); 
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    width: 100%; 
    height: 548px; 
    
}


.banner .banner-text h1{
    padding-top: 190px;
    width: 842px;
    font-size: 64px;
    font-weight: 600;
    font-family: "Poppins", serif;
    color: #FFFFFF;
    padding-bottom: 31px;
}  


/* industryr part end */
/* supplier part start */
.supllier {
    
    padding-top: 78px;
    padding-bottom: 100px;
}
.supllier h2{
    width: 288px;
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", serif;
    color: #000000;
}
.supllier p{
    width: 650px; 
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", serif;
    color: #6C6C6C;
}
/* supplier part end */
/* simg part start */

.simg .simg-img{
    width: 98%;
    height: 380px;
}
.simg .simg-img img{
    width: 100%;
    height: 100%;
}

/* simg part end */
/* services part start */
.services{
    margin-top: 20px;
}
.services .box{
   flex-wrap: wrap;
}
.services .supply-part{
    width: 50%;
    height: 410px;
}
.services .supply-part .text-part{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
}
.services .supply-part .text-part h2{
    font-size: 64px;
    font-weight: 600;
    font-family: "Poppins", serif;
    color: #000000;
}
.services .supply-part .text-part p{
    width: 350px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", serif;
    color: #6C6C6C;
}
.services .supply-part1{
    width: 50%;
    height: 410px;
    background-image: url('../images/unsplash1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}
.services .supply-part2{
    width: 50%;
    height: 410px;
    background-image: url('../images/unsplash2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}
.services .supply-part3{
    width: 50%;
    height: 410px;
    background-image: url('../images/unsplash3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}
.services h3{
    width: 680px;
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins", serif;
    color: #FFFFFF;
    padding-bottom: 19px;
}
.services .text-button-part{
    padding-top: 147px;
    padding-left: 50px;
}

/* services part end */
/* company part end */
.company{
    background: #F0F0F0;
    padding: 100px 0;
}

.company .about{
    width: 100%;
    height: 200px;
    background: #F40404;
}
.company .about h3{
    font-size: 36px;
    font-weight: 500;
    font-family: "Poppins", serif;
    color: #FFFFFF;
    width: 260px;
    margin: 0 auto;
    padding-top: 30px;
}
.company-img{
    width: 100%;
    height: 200px;
    background-image: url('../images/companyimg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.company .company-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* company part end */
/* logo part start */
.logo-part{
    padding: 100px 0;
}
/* logo part end */
/* card-img part start */
.card-part{
    background: #F0F0F0;
    padding: 100px;
}
.card-part .card-img1{
    width: 100%;
    height: 350px;
    background-image: url('../images/cardimg1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.card-part .card-img2{
    width: 100%;
    height: 350px;
    background-image: url('../images/cardimg2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.card-part .card-img3{
    width: 100%;
    height: 350px;
    background-image: url('../images/cardimg3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.card-part .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .50);
}
.card-part .overlay p{
    width: 220px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", serif;
    color: #FFFFFF;
    padding-top: 70px;
    padding-bottom: 45px;
}
.card-part .overlay .button{
    padding-left: 70px;
}
.card-part .overlay a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    font-family: "Poppins", serif;
    background: rgba(255, 255, 255, 50%);
    padding: 10px 22px;
}
/* card-img part end */
/* map part start */
.map-part{
    width: 100%;
    height: 450px;
    background-image: url('../images/map.png');
}
/* map part end */
/* area part start */
.area{
    background: #F40404;
    padding: 45px 0;
}
.area h2{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 500;
    font-family: "Poppins", serif;
}
.area .nav-button a{
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 13px 32px;
    display: flex;
    justify-self: flex-end;
}
/* area part end */
/* footer part end */
.footer-part{
    background: #1F1F1F;
    padding: 100px 0;
}
.footer-part p{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 200;
    font-family: "Poppins", serif;
}
.footer-part .logo{
    padding-top: 30px;
    padding-bottom: 40px;

}
.footer-part .icon ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    column-gap: 20px;
}
.footer-part .icon ul li{
    color: #F40404;
    font-size: 24px;
}
.footer-part .list{
    padding-top: 60px;
}
.footer-part .list p{
   color: #FFFFFF;
   font-size: 16px;
   font-weight: 400;
   font-family: "Poppins", serif;
}
.footer-part .list ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    row-gap: 20px;
}
.footer-part .list ul li{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 200;
    font-family: "Poppins", serif;
    
}
.footer-part .logo-last{
    display: flex;
    column-gap: 10px;
}
/* footer part end */
/* footerEnd part start */
.footer-end{
    background: #282828;
    padding: 30px 0;
}
.footer-end p{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 300;
    font-family: "Poppins", serif;
}
/* footerEnd part end */