body {
    overflow-x: hidden;

}
.common-button a{
    background: #F40404;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", serif;
    padding: 13px 40px;
    border: 1px solid transparent;
}
.common-button a:hover{
    background: transparent;
    border: 1px solid #F40404;
    cursor: pointer;
    
}
.box{
    display: flex;
}
.header{
    background: #282828;
    padding-top: 16px;
    padding-bottom: 13px;
}

.header p{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    font-family: "Poppins", serif;
}

.header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    column-gap: 12px;
    justify-content: flex-end;
}
.header ul li{
    color: #FFFFFF;
}
/* navber part start */
.navbar{
    background: #F40404;
    padding: 27px 0;
}
.navbar .nav-item a{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", serif;
}
.navbar .nav-button a{
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 13px 32px;
}
.navbar .navbar-nav{
    column-gap: 47px;
}
/* navber part end */
/* industryr part start */

.banner{
    
    background-image: url('../images/industry.png'); 
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    width: 100%; 
    height: 548px; 
    
}


.banner .banner-text h1{
    padding-top: 190px;
    width: 842px;
    font-size: 64px;
    font-weight: 600;
    font-family: "Poppins", serif;
    color: #FFFFFF;
    padding-bottom: 31px;
}  


/* industryr part end */
/* supplier part start */
.supllier {
    
    padding-top: 78px;
    padding-bottom: 100px;
}
.supllier h2{
    width: 288px;
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", serif;
    color: #000000;
}
.supllier p{
    width: 650px; 
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", serif;
    color: #6C6C6C;
}
/* supplier part end */
/* simg part start */

.simg .simg-img{
    width: 98%;
    height: 380px;
}
.simg .simg-img img{
    width: 100%;
    height: 100%;
}

/* simg part end */
/* services part start */
.services{
    margin-top: 20px;
}
.services .box{
   flex-wrap: wrap;
}
.services .supply-part{
    width: 50%;
    height: 410px;
}
.services .supply-part .text-part{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
}
.services .supply-part .text-part h2{
    font-size: 64px;
    font-weight: 600;
    font-family: "Poppins", serif;
    color: #000000;
}
.services .supply-part .text-part p{
    width: 350px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", serif;
    color: #6C6C6C;
}
.services .supply-part1{
    width: 50%;
    height: 410px;
    background-image: url('../images/unsplash1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}
.services .supply-part2{
    width: 50%;
    height: 410px;
    background-image: url('../images/unsplash2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}
.services .supply-part3{
    width: 50%;
    height: 410px;
    background-image: url('../images/unsplash3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}
.services h3{
    width: 680px;
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins", serif;
    color: #FFFFFF;
    padding-bottom: 19px;
}
.services .text-button-part{
    padding-top: 147px;
    padding-left: 50px;
}

/* services part end */